@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
  body {
    @apply bg-gray-950 text-gray-100 antialiased;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #374151 transparent;
  }
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}
